/******************************************
********* Descrption here *****************
/******************************************/

/****************START*******************/

.yourClass{
    display:block;
}

/****************END**********************/





/******************************************
********* TEXT left FIX *****************
/******************************************/

/****************START*******************/

.slider__text{
    right:unset!important;
    left: 80px;
}

/****************END**********************/





