/******************************************
********* Descrption here *****************
/******************************************/

/****************START*******************/

.yourClass{
    display:block;
}

/****************END**********************/




/******************************************
********* TABLE BOOTSTRAP DESIGN **********
/******************************************/

/****************START*******************/

table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #a7a7a7;
    font-size: 0.95em;
}
thead tr th {
    background-color: #7594aa;
    color: #fff;
    border-right: 1px solid #a7a7a7;
    border-bottom: unset;
    border-left: unset;
}
td{
    border-bottom: unset;
    border-left: 1px solid #a2a2a2;
}
tr:nth-child(odd) {
    background-color: #eee;
}
tr:nth-child(even) {
    background-color: #fff;
}

/****************END**********************/ 3rd commit for css-cheats Table Bootstrap Design 2018-March-22 - Franclin James Lim










/******************************************
********* 4th commit for css-cheats Mobile Responsive UNDER DEVELOPMENT *****************
/******************************************/

/****************START*******************/



@media(max-width:425px){
    .wrap__container img, logo__image, .wrap--inner img{
        height:auto!important;
        float:none!important;
        width:100%!important;
        margin:unset!important;
    }
    .wrap__page-content img:not(.leaflet-tile), .wrap__editable img:not(.leaflet-tile), .wrap__editable-content img:not(.leaflet-tile), .staff-member img, logo__image{
        max-width:unset!important;
        width:100%!important;
        height:auto!important;
    }
}
@media(max-width:320px){
    .wrap__container img, logo__image, .wrap--inner img{
        height:auto!important;
        float:none!important;
        width:100%!important;
        margin:unset!important;
    }
    .wrap__page-content img:not(.leaflet-tile), .wrap__editable img:not(.leaflet-tile), .wrap__editable-content img:not(.leaflet-tile), .staff-member img, logo__image{
        max-width:unset!important;
        width:100%!important;
    }
}

/****************END**********************/ 4th commit for css-cheats Mobile Responsive UNDER DEVELOPMENT - 2018-March-23 - Franclin James Lim







/******************************************
********* Hiding checkboxes/radiobutton *****************
/******************************************/

/****************START*******************/

.form-input-custom57 .custom57__label-input-container:nth-child(2n){
display: none  !important;
}


/****************END**********************/
