/******************************************
********* Descrption here *****************
/******************************************/

/****************START*******************/

.yourClass{
    display:block;
}

/****************END**********************/






/*CUSTOM BUFFALO -BUFFALO WHITE THEME*/
/******************************************
********* BUFFALO WHITE THEME *************
/******************************************/

/****************START*******************/




//========BUFFALO WHITE THEME======


//Quote icon just uncheck Title on component. COPY PASTE TO JS

$(document).ready(function(){
$('.testimonials__caption').html('<span class="socialmedia__link icon icon-quote-left" aria-hidden="true" style="border: 1px solid #196af9;color: #196af9;"></span>');
});


setInterval(function(){
    $('.icon-pause, .icon-play').attr('style', 'font: normal normal normal 14px/1 font-awesome');
},500);








.wrap__header--top{
    background-color:rgb(255, 255, 255);
}
.socialmedia__link{
    border: 1px solid #5a76ff!important;
    color: #5a76ff!important;
}
.socialmedia__link:hover {
    background-color: #2898f1!important;
    color: white!important;
}
.wrap__footer .socialmedia__link{
    border: 1px solid #d2d2d2!important;
    color: #eaeaea!important;
}
/* .slider__title{filter:invert(100%);} OPTIONAL*/
.staff-member__image {
    background-size: cover;
    height: 150px;
}
.staff-member__description a{
    color:inherit!important;
}
.staff-member__description a:hover{
    color:#89e872!important;
}
.wrap__navigationHeader{
    background: #f8fafc !important;
    border-top: 1px solid #dbe6eb;
    border-bottom: 1px solid #dbe6eb;
    margin: 0 !important;
    box-shadow: 0 6px 16px -7px rgba(0, 0, 0, 0.5);
}
.navigation__item a{
    color:#7e8fa6 !important;
}
.navigation:not(.mm-menu) .navigation__list > .navigation__item .sublevel-1 a{
    background: #f8fafc !important;
}
.location__phone a{
    color:#196af9 !important;
}
.wrap__home-offer__background{
    background-color:#3a6cc2!important;
}
#home-offer, .wrap__home .wrap__articles{
    background-color: #3a6cc2!important;
}
.wrap__page-content h1,.wrap__page-content h2,.wrap__page-content h3,.wrap__page-content h4,.wrap__page-content p,.wrap__page-content span,.wrap__page-content a,.wrap__page-content b,.wrap__page-content div,.wrap__page-content button,.wrap__page-content input,.wrap__page-content select,.wrap__page-content textarea,.wrap__page-content html,.wrap__page-content strong, body{
    font-family: sans-serif!important;
}
.wrap__footer{
    background-color: #485b6f !important;
}
#hamburger:before{
    color: #000000!important;
}


.testimonials__caption span{
    margin: 0 auto;
    display: block;
}
























/*TEAL COLOR FIX USE STYLE BUFFALO CHARCOAL change main color to white*/





.wrap__header--top{
    background-color:rgb(255, 255, 255);
}
.socialmedia__link{
    border: 1px solid #27baa0!important;
    color: #27baa0!important;
}
.socialmedia__link:hover {
    background-color: #27baa0!important;
    color: white!important;
}
.wrap__footer .socialmedia__link{
    border: 1px solid #27baa0!important;
    color: #eaeaea!important;
}
/* .slider__title{filter:invert(100%);} OPTIONAL*/
.staff-member__image {
    background-size: cover;
    height: 150px;
    min-height:207px;
}
.staff-member__description a{
    color:inherit!important;
}
.staff-member__description a:hover{
    color:#89e872!important;
}
.wrap__navigationHeader{
    background: #f8fafc !important;
    border-top: 1px solid #dbe6eb;
    border-bottom: 1px solid #dbe6eb;
    margin: 0 !important;
    box-shadow: 0 6px 16px -7px rgba(0, 0, 0, 0.5);
}
.navigation__item a{
    color:#7e8fa6 !important;
}
.navigation:not(.mm-menu) .navigation__list > .navigation__item .sublevel-1 a{
    background: #f8fafc !important;
}
.location__phone a{
    color:#196af9 !important;
}
.wrap__home-offer__background{
    background-color:#7effe8bf!important;
}
#home-offer, .wrap__home .wrap__articles{
    background-color: #7effe8bf!important;
}

.wrap__footer{
    background-color: #485b6f !important;
}
#hamburger:before{
    color: #000000!important;
}


.testimonials__caption span{
    margin: 0 auto;
    display: block;
}

.location__phone a, .testimonials__source{
    color:#27baa0!important;
}








.slider__button a{
    background:#ec5c4c;
    color:white;
}


input, textarea{
    background-color:#5aa79f!important;
}
body{
    background:#029494!important;
}
.wrap__staff--inner .staff-member__description, .wrap__staff--inner .staff__title {
    color: #2f2b27!important;
}
.wrap__home-info-aside .staff__caption{
    color: #7d7d7d;
}
.wrap__home-info-aside .component__title-caption-wrap, .wrap__home-info-aside .component__title-caption-wrap{
    border-bottom: 1px solid;
}
.cta__title, .wrap__cta--inner a{
    color:black;
}


ul li.featuredblock__item:nth-child(2):hover .linkz a{
    color:black!important;
    text-decoration:unset!important;
}
.wrap__fullwidth a{
    color:inherit!important;
}


.community__wrapper .cta__button{
    border: 1px solid #797979;
}

.navigation:not(.mm-menu) .navigation__list > .navigation__item .sublevel-1 .opener{
    background:#029494!important;
}



/****************END**********************/