/*Aligning submit button on skin24 - Exclusive Offer*/

.exclusive_offer form div .submit_info {position: relative; bottom: 0px; left: 0px;}

.exclusive_offer form div .submit_info {
  bottom: 22px;
  right: 35px;
}


/*Fix ul in skin18*/
 ul {
    margin: 0;
    line-height: 20px;
    font-size: 15px;
}

/*Image responsive on page content*/

.page_content img {
    width: 100% !important;
    height: auto !important;
}


/*Selecting li button options on skin22*/

#page_options > ul > li:nth-child(1){
    /** your css here**/
}

/*Adding favicon - replace*/

<link rel="icon" type="image/png" href="http://domain.com/favicon.ico">
